:root {
  --light-color: #ffffff;
  --light-gray: #f5f4f4;
  --dark-color: #141110;
  --primary-color: #5917d4;
  --transition: 0.5s;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  background-color: var(--light-gray);
  color: var(--dark-color);
}

/* Utilities */

.container {
  max-width: 1100px;
  width: 90%;
  margin: 0 auto;
}

.ml {
  margin-left: 1rem;
}

.mt {
  margin-top: 0.5rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mb {
  margin-bottom: 0.5rem;
}

.mr {
  margin-right: 1rem;
}

.link {
  text-decoration: none;
  color: var(--dark-color);
}

li {
  list-style-type: none;
}

img {
  width: 100%;
}

.btn {
  padding: 8px 10px;
  background-color: var(--primary-color);
  color: var(--light-color);
  border: none;
  width: 8rem;
  cursor: pointer;
  transition: var(--transition) transform;
}

.btn:hover {
  opacity: 0.9;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
}

/* Header */

header {
  background-color: var(--light-color);
  box-shadow: 2px 0 3px rgba(0, 0, 0, 0.2);
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.header-text {
  z-index: 8;
}

.navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-list {
  display: inline-block;
  text-transform: capitalize;
}

.auth {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-list {
  position: absolute;
  top: 45px;
  text-align: center;
  background-color: #d1d1d1;
  padding: 10px 20px 0 20px;
  clip-path: polygon(
    0 10px,
    45% 10px,
    50% 0,
    55% 10px,
    100% 10px,
    100% 100%,
    0 100%
  );
  z-index: 10;
}

.auth-list-item {
  padding: 8px 15px;
  border-bottom: 1px solid var(--light-gray);
  color: var(--primary-color);
}

.auth-list-item:last-child {
  border-bottom: none;
}

/* Form */

form {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 2px;
}

.form-group {
  margin: 14px 0;
}

label,
form p {
  display: block;
  text-transform: capitalize;
  font-weight: 600;
  margin: 8px 0;
}

input[type='text'],
input[type='password'],
input[type='email'],
input[type='submit'],
select {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 14px 0;
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  outline: none;
}

input[type='submit'] {
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--light-color);
}

input[type='submit']:hover {
  opacity: 0.9;
}

/* End Form */

/* Menu btn */

.menu-wrapper,
.close-btn-wrapper {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  z-index: 10;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
}

.btn-hamburger {
  width: 20px;
  height: 20px;
  position: absolute;
  z-index: 3;
  opacity: 0;
  cursor: pointer;
}

.menu-wrapper > div,
.close-btn-wrapper > div {
  position: absolute;
  width: 20px;
  height: 3px;
  background-color: var(--light-color);
  transition: var(--transition) transform;
}

.menu-wrapper > div::before,
.close-btn-wrapper > div::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: var(--light-color);
  transform: rotate(90deg);
  transition: var(--transition) transform;
}

.btn-hamburger:checked + div {
  transform: rotate(-45deg);
}

/* End Menu btn */

/* Menu List */

.menu-list {
  position: fixed;
  bottom: 5rem;
  right: 2rem;
  text-align: right;
}

.menu-list li {
  margin: 10px 0;
  transform: translateX(100%);
  transform-origin: bottom;
  transition: var(--transition) transform;
}

/* Menu List End */

/* Overlay */

.over-lay {
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  width: 100%;
  min-height: 100vh;
  z-index: 7;
  display: none;
}

/* End Overlay */

/* Note Wrapper */

.note-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Note Wrapper */

/* Budget */

.budget {
  display: block;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 5px 10px;
  border-top: 1px solid #d3d3d385;
  border-bottom: 1px solid #d3d3d385;
  max-width: 768px;
  margin: 1rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* End Budget */

/* Expense Item */

.expense {
  background-color: var(--light-color);
  margin-top: 1rem;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  text-align: center;
  max-width: 768px;
  margin: 1rem auto;
  z-index: 10;
}

.expense-btn {
  width: 100%;
}

.expense-btn:hover {
  box-shadow: initial;
}

.expense h4 {
  color: var(--primary-color);
}

.expense-item {
  padding: 5px 10px;
  background-color: #ebebeb;
  margin: 1rem 0;
  display: grid;
  justify-content: space-evenly;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
}

/* End Expense Item */

/* Budget and Expense Form */

.budget-form,
.expense-form {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  z-index: 9;
  background-color: #e9e9e9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}

.expense-form label,
.currency-label {
  display: none;
}

select > option {
  padding: 10px;
}

/* Budget Form */

/* Login Form */

.login-form,
.register-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 600px;
  z-index: 9;
  background-color: #eeeeee;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}

.login-form label,
.register-form label {
  display: none;
}

.login-form h3,
.login-form .link,
.register-form h3,
.register-form .link {
  color: var(--primary-color);
}

/* End Login Form */

/* Close Btn */

.close-btn-wrapper {
  position: absolute;
  top: 4rem;
  right: 2rem;
  background-color: initial;
  box-shadow: none;
}

.close-btn-wrapper > div {
  transform: rotate(45deg);
  background-color: var(--primary-color);
  transition: initial;
  cursor: pointer;
}

.close-btn-wrapper > div::before {
  background-color: var(--primary-color);
  transition: initial;
}

/* End Close Btn */

/* Total */

.total {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--primary-color);
  color: var(--light-color);
  padding: 0 20px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}

.total > div {
  display: flex;
  justify-content: space-between;
  margin: 5px;
}

.amount {
  font-weight: 600;
}

/* End Total */

/* Alert */

.alert-container {
  z-index: 8;
  color: var(--light-color);
  padding: 5px 0;
}

.alert-warning {
  background-color: red;
}

.alert-success {
  background-color: green;
}

/* End Alert */
